body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('maths.jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: red;
    text-align: center;
    margin-bottom: 20px; 
}

.calculator {
    width: 300px;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px grey;
    background-color: transparent;
}

.display {
    background-color: white;
    color: gray;
    font-size: 2rem;
    text-align: right;
    padding: 10px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 240px;
    height: 40px;
    margin-left: 10px;
    border: 2px dotted black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: transparent;
    padding: 10px;
}


.calc{
    font-size: 1.2rem;
    padding: 20px 0;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 1px;
}
.calcc{
    font-size: 1.2rem;
    padding: 20px 0;
    border: none;
    background-color:gray;
    cursor: pointer;
    border-radius: 1px;
}

button:hover {
    background-color: rgb(50, 48, 48);
}





